.our-services__title {
  font-size: 2.25rem;
}

.our-services__paragraph {
  max-width: 950px;
  font-size: 1.125rem;
  color: var(--clr-seccondary);
}

.our-span {
  width: 56px;
  height: 2px;
  background-color: var(--clr-dark);
}
