.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: space-evenly;
  gap: 2rem;
  padding: 3rem 5rem;
  justify-content: center;
  z-index: 1;
}

.card {
  background-color: #fff;
  border-radius: 1.25rem;
  box-shadow: 15px 25px 35px 4px rgba(215, 231, 247, 0.9);
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 1rem;
}
.card:last-child {
  align-self: start;
}

.card:last-child p {
  padding-bottom: 1.75rem;
}
.card-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--clr-dark);
}

.card-desc {
  max-width: 290px;
  line-height: 1.7;
  font-size: 1rem;
  font-weight: 300;
  color: var(--clr-secondary);
}

@media (max-width: 1200px) {
  .card-container {
    padding: 3rem;
  }
}

@media (max-width: 1000px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }
}

@media (max-width: 700px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(6, 83%);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    justify-content: start;
    padding: 1rem;
  }
  .card-container::-webkit-scrollbar {
    display: none;
  }
  .card {
    padding: 1rem;
  }
}

@media (max-width: 500px) {
  .car-title {
    font-size: var(--fs-400);
  }
  .card-desc {
    font-size: var(--fs-400);
  }
}

@media (max-width: 300px) {
  .card-container {
    gap: 0.8rem;
    grid-template-columns: repeat(6, 96%);
  }
  .card {
    padding: 0.7rem;
  }
  .card:last-child h2 {
    margin-bottom: -0.3em;
  }
  .card:last-child p {
    padding-bottom: 3em;
  }

  .car-title {
    font-size: var(--fs-300);
    white-space: wrap;
    margin-top: 1em;
  }

  .card-desc {
    font-size: var(--fs-200);
  }
}
