.our-services__container {
  z-index: 3;
}
.our-services__title {
  font-size: var(--fs-800);
  line-height: 1.2;
  color: var(--clr-dark);
  font-weight: 700;
}

.our-services__paragraph {
  max-width: 950px;
  font-size: var(--fs-500);
  color: var(--clr-seccondary);
  line-height: 1.6;
  font-weight: 300;
}

.our-span {
  width: 56px;
  height: 2px;
  background-color: var(--clr-dark);
}

.our-services__btn {
  border-radius: 1.875rem;
  padding: 0.6em 2.4em;
  color: var(--clr-primary);
  font-weight: 700;
  font-size: var(--fs-500);
}

.our-services__fillone {
  position: absolute;
  z-index: -1;
  left: -23%;
  top: -1%;
}
.our-services__filltwo {
  position: absolute;
  right: 0;
  top: 47%;
  z-index: -1;
}

@media (max-width: 768px) {
  .our-services__fillone {
    bottom: 0;
  }
}

@media (max-width: 500px) {
  .our-services__title {
    font-size: var(--fs-600);
  }
  .our-services__paragraph {
    font-size: var(--fs-400);
  }

  .our-services__btn {
    font-size: var(--fs-400);
  }
  .our-services__fillone {
    top: 20%;
    left: 0%;
  }
  .our-services__filltwo {
    top: 70%;
  }
}

@media (max-width: 300px) {
  .our-services__title {
    font-size: var(--fs-600);
  }
  .our-services__paragraph {
    font-size: var(--fs-300);
  }
  .our-services__btn {
    width: 100%;
    font-size: var(--fs-200);
  }
  .our-services__fillone {
    top: 20%;
  }
}
