.leading-container {
  padding: 6rem 0 8rem;
}

.leading-row {
  display: flex;
}

.leading-second__col {
  padding-left: 8rem;
}
.fade-in {
  opacity: 0;
  transform: translateX(-25%);
  ransition: opacity 550ms ease-in, transform 650ms ease-in;
}
.appear {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 550ms ease-in, transform 650ms ease-in;
}
.leading-fill {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1100px) {
  .leading-container {
    padding: 4rem 0;
  }
  .leading-second__col {
    padding-left: 1rem;
  }
  .leading-row {
    padding: 0 2rem;
    align-items: center;
  }
  @media (max-width: 1023px) {
    .leading-row {
      padding-bottom: 5rem;
      flex-direction: column-reverse;
    }
  }

  @media (max-width: 600px) {
    .leading-container {
      padding: 1rem 0;
    }
    .leading-row {
      width: 100%;
      padding: 2rem;
    }
  }
}
