.elementPosition {
  position: absolute;
  left: 0;
}

.header-row {
  padding-bottom: 14rem;
  overflow-x: hidden;
}

.header-title {
  font-size: 3rem;
  line-height: 1.1;
  max-width: 400px;
}

.header-p {
  font-size: 1.313rem;
  line-height: 1.5;
  max-width: 450px;
}

.header-button {
  font-size: 1.125rem;
  border-radius: 1.875rem;
  color: var(--clr-btn);
  padding: 0.6em 2.4em;
}

@media (max-width: 1100px) {
  .header-title {
    max-width: 100%;
    font-size: 2.7rem;
  }
  .header-p {
    max-width: 80%;
    font-size: 1.23rem;
  }
  .header-button {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .header-title {
    max-width: 100%;
    font-size: 1.8rem;
  }
  .header-p {
    max-width: 80%;
    font-size: 0.9rem;
  }
  .header-button {
    font-size: 0.8rem;
  }
}
