.download-app__container {
  padding: 3rem 0 9rem 0;
}

.download-app__row {
  display: flex;
  overflow-x: hidden;
}

.download-app__first__col {
  padding-left: 5.5rem;
}
.download-app__second__col {
  padding: 3rem 0;
}

.fade-right {
  opacity: 0;
  transform: translateX(35%);
  transition: opacity 550ms ease-in, transform 750ms ease-in;
}
.appear-right {
  transform: translateX(0%);
  opacity: 1;
  transition: opacity 550ms ease-in, transform 750ms ease-in;
}

@media (max-width: 1100px) {
  .download-app__container {
    padding: 4rem 0;
  }
  .download-app__first__col {
    padding-left: 1rem;
  }
  .download-app__row {
    padding: 0 2rem;
    align-items: center;
  }
  @media (max-width: 1023px) {
    .download-app__row {
      padding-bottom: 5rem;
      flex-direction: column;
    }
  }

  @media (max-width: 600px) {
    .download-app__first__col {
      padding-left: 1.5rem;
    }
    .download-app__container {
      padding: 5rem 0;
    }
    .download-app__row {
      width: 100%;
      padding: 2rem;
    }
  }
}
