.anchor {
  font-size: var(--fs-500);
  font-weight: 400;
  color: var(--clr-nav);
  text-decoration: none;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.anchor:hover {
  color: var(--clr-dark);
  font-weight: 700;
  transition: all 100ms ease-in-out;
}

@media (min-width: 1000px) {
  .nav-lg {
    display: none;
  }
}
